.boxPay{
 display:flex;
 justify-content:space-between;
 padding:0px;
 margin:0px;}
 
#userPay {
 height:max-content;
 width: 75%;
 padding: 0px;
 margin:auto 0px;
 background:transparent;
 border:none;
 font-size: 14px;
 font-weight: 550;}
 
.loginPay{
 border:0.5px solid #777;
 text-decoration:none;
 padding:3px 7.5px 2.5px 7.5px;
 margin:auto 0px;
 height:max-content;
 width:max-content;
 max-width:20%;
 font-size:11.5px;
 font-weight:450;}

#textPay{
 margin:15px 5px;}
 
.btnBayar{text-decoration:none;}