.myNav{
 display:flex;
 justify-content:space-between;
 padding:0px;
 margin:0px;
 height:40px;
 width:100%;
 box-sizing:border-box;}

.btnBack{
 color:#eee;
 display:flex;
 justify-content:flex-start;
 height:max-content;
 padding:0px;
 margin:auto 0px auto 6px;}
 
.iconBack{
 display:block;
 font-size:18px;
 font-weight:400;
 padding:0px;
 margin:auto 0px;}
 
.textBack{
 position:relative;
 top:1px;
 display:block;
 padding:0px;
 margin:auto 0px;
 font-size:13px;
 font-weight:450;}
 
.btnNav{
 display:block;
 padding:4px 8px 3px 8px ;
 margin:auto 10px;
 font-size:11px;
 font-weight:450;
 color:red;
 background:#131313;
 border:0.5px solid #333;
 border-radius:2px;}
 
.itemPage{
 display:flex;
 justify-content:space-between;
 padding:0px 4px 2px 4px;
 margin:15px 0px 20px 0px;
 border-bottom:0.5px solid #333;}
 
.judulPage{
 display:block;
 padding:0px;
 margin:auto 0px;
 font-size:11px;
 font-weight:400;
 color:#aaa;}

.textPage{
 display:block;
 padding:0px;
 margin:auto 0px;
 font-size:14px;
 font-weight:550;
 text-align:right;
 color:#fff;
 background:transparent;
 width:60%;}